__pycache__/
*.o
*.d
*.a
*.so
*.bin
*.elf
*.fbi
*.pcap
*.prof
.ipynb_checkpoints
/doc/manual/_build
/build
/dist
/*.egg-info
/.coverage
/artiq/test/lit/*/Output/
/artiq/binaries
/artiq/firmware/target/
/misoc_*/
/artiq_*/

/artiq/test/results
/artiq/examples/*/results
/artiq/examples/*/last_rid.pyon
/artiq/examples/*/dataset_db.pyon

# when testing ad-hoc experiments at the root:
/repository/
/results
/last_rid.pyon
/dataset_db.pyon
/device_db*.py
/test*
