__pycache__/
*.o
*.d
*.a
*.so
*.bin
*.elf
*.fbi
/doc/manual/_build
/build
/dist
/*.egg-info
/.coverage
/artiq/test/lit/*/Output/
/artiq/binaries
/misoc_*/

/artiq/test/results
/artiq/test/h5types.h5
/examples/master/results
/examples/master/dataset_db.pyon
/examples/sim/results
/examples/sim/dataset_db.pyon

# recommended location for testbed
/run
# alternatively, when testing ad-hoc experiments at the root:
/device_db.pyon
/dataset_db.pyon
/results
/h5types.h5
/test*.py
